@media only screen and (min-width:200px) and (max-width:575px){
    .btn-outer{
        position:fixed;
        bottom:0px;
        width:100%;
        justify-content: center !important;
    }
    .whatsappbtn, .login{
        padding: 7px 12px;
        font-size: 14px;
        margin-bottom: 1rem; /* Use this instead of mb-3 */
    }
    
    .bannerContent h1 {                                          
        font-size: 25px !important;
        font-family: "Inter", sans-serif;
        font-weight: bold;
    } 
}


@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
    }
}

