*{
    font-family: "Inter", sans-serif;
}

.whatsappbtn{
   padding: 10px 18px;
   font-size: 16px
}

.login{
     padding: 10px 18px;
     font-size: 16px;
}

.bannerContent h1{
    font-size:50px ;
    font-family: "Inter", sans-serif;
    font-weight:bold ;
}

.bannerContent h1 span{
    color: #3e62ae;
}